body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

form {
  width: 100%;
  height: 100%;
}

.login-page .container {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

.login-page {
  position: relative;
  height: 100vh;
} 

.login-page .login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-page .card-header {
  text-align: center;
  margin-bottom: 20px
}

.login-page .card-header .log {
  margin: 0;
  font-size: 24px;
  color: black;
}

.login-page .form-group {
  margin-bottom: 15px;
}

.login-page label {
  font-size: 18px;
  margin-bottom: 5px;
}

.login-page input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
}

.login-page input[type="submit"] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-page [type="submit"]:hover {
  background-color: #ccc;
  color: black;
}

.interface-emple nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(131, 131, 131);
  padding-left: 2vw;
  height: 70px; 
}

.interface-emple nav .logo {
  width: 70px;
  height: 70px;
  margin: 0 30px;
}

.interface-emple .cont-ul {
  display: flex;
  align-items: center;
}

.interface-emple li {
  list-style: none;
  cursor: pointer;
  padding: 1.5vw;
  transition: all 0.3s ease 0s;
}

.interface-emple li:hover {
  background-color: rgb(251, 251, 251);
}

.interface-emple .user-dropdown {
  position: relative;
}

.interface-emple .dropdown-menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 30px;
  background-color: #47484d;
  padding: 5px 5px; /* Ajusta el padding para darle un diseño más rectangular */
  border-radius: 5px; /* Agrega un borde redondeado para suavizar las esquinas */
  border-bottom: none; /* Elimina el borde inferior para darle un diseño más rectangular */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra para darle profundidad */
}

.interface-emple .user-dropdown:hover > .dropdown-menu {
  display: block;
}

.interface-emple .fas {
  font-size: 45px;
  margin-right: 30px;
}

.interface-emple .dropdown-menu li:last-child {
  white-space: nowrap;
  padding: 3px 5px;
}