<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacen Minimarket</title>
    <link rel="stylesheet" href="/app/views/css/style_empleado.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body class="interface-emple">
    <div class="container">
        <nav>
            <img src="/app/public/logos/logo.svg" alt="logo" class="logo">
            <ul class="cont-ul">
                <li>Inicio</li>
                <li>Consultas</li>
                <li>Ventas</li>
                <li class="user-dropdown">
                    <i class="fas fa-user"></i>
                    <ul class="dropdown-menu">
                        <li>Cerrar sesión</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>